%h1 Hi #{@user.first_name}!
%h2 Your Games Collection:
.game-container
	-@games.each do |game|
		.game-container
			.game-info
				%h3= game.title
				.game-functionality
				= link_to 'Show', game
				= link_to 'Edit', edit_game_path(game)
				= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Game', new_game_path