%p#notice= notice
%h1 Games
.games-container
  - @games.each do |game|
    .game-container
      .game-info
        %h3= game.title
        %p= "Players: #{game.title}"
        %p= "Age: #{game.age}"
        %p= "Play Time: #{game.play_time}"
        %p= "Complexity: #{game.complexity}"
        %p= "Publisher: #{game.publisher}"
        %p= "Description: #{game.description}"
      .game-functionality
        = link_to 'Show', game
        = link_to 'Edit', edit_game_path(game)
        = link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }
%br/
-if current_user
  = link_to 'New Game', new_game_path
