
.games-container
  %p#notice= notice
  =image_tag "#{@game.avatar.url}"
  .game-container
    .votes
      .vote-count= @game.votes.sum(:value)
      = render partial: "votes/neutral_game"
    .game-stats
      %h1= @game.title
      .sub-game-stats
        %p= "Players: #{@game.players}"
        %p= "Age: #{@game.age}"
        %p= "Play Time: #{@game.play_time} min"
        %p= "Complexity: #{@game.complexity}"
        %p= "Publisher: #{@game.publisher}"
      .game-tags
        %p Tags:
        - @tags.each do |tag|
          .game-tag
          = link_to tag.tag.name, tag.tag
    .game-description
      %p= "Description: #{@game.description}"
  - if @game.user_id == current_user.id
    .game-functionality
      .link= link_to 'Edit', edit_game_path(@game)
      .link= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?' }
      .link= link_to 'Back', games_path
.add-game-container
  - if !@game.game_in_collection?(current_user)
    = link_to 'Add Game To Personal Collection', "/games/#{@game.id}/game_users", method: :post
.reviews-container
  %h3 Reviews
  - if @reviews
    - @reviews.each do |review|
      .review-container
        .votes-review
          .vote-count= review.votes.sum(:value)
          = render partial: "votes/neutral_review", locals: {review: review }
        .review-container-inner
          %h3= review.title
          %p.posted-by= link_to "Posted by: #{User.find(review.user_id).full_name}", User.find(review.user_id)
          %p= review.body
  .review-container
    %h3 Create a New Review
    = form_for [@game, @new_review] do |f|
      = f.label 'Title'
      = f.text_field :title
      = f.label 'Body'
      = f.text_field :body
      = f.submit


